h1 {
    color: red; 
    font-size: 3rem;
}



@media (max-width: 990px)
{
    h1 {
        color: blueviolet;
        font-size: 1rem;
    }

    .navbar .navbar-brand 
      {
        color:coral;
      }

    }